@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcfaec !important;
}

#CustomNavBar{
    position: fixed;
    top:0;
    z-index: 9000;
    width: 95%;
    border-bottom: 1px solid black;
}

#CustomNavBar .navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}

@media (max-width: 991px) {
    #CustomNavBar{
        border-bottom: 1px solid black;
    }
    #CustomNavBar .navbar-brand{
        font-family: 'Pacifico', cursive;
        font-size: 1.5rem;
    }
}

#CustomNavBar .navbar-nav .nav-item .nav-link{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #1D3557;
}

#CustomNavBar .navbar-nav .nav-item .nav-link:hover{
    color: #A8DADC;
}

.navbar-collapse .navbar-nav .nav-item .nav-link{
    text-align: center;
  }